{use Tracy\Dumper}
{varType array<string, Nette\DI\ServiceDescriptor> $services}
{varType array<string, mixed>|null $parameters}
{varType string $file}

<style class="tracy-debug">
	#tracy-debug .nette-ContainerPanel table {
		width: 100%;
		white-space: nowrap;
	}

	#tracy-debug .nette-ContainerPanel .created {
		font-weight: bold;
	}

	#tracy-debug .nette-ContainerPanel .yes {
		color: green;
		font-weight: bold;
	}

	#tracy-debug .nette-ContainerPanel table pre {
		display: inline;
		background: transparent;
		padding: 0;
		word-break: normal;
	}
</style>

<h1>Nette DI Container</h1>

<div class="tracy-inner nette-ContainerPanel">
<div class="tracy-inner-container">
	<p>Source: {Tracy\Helpers::editorLink($file)}</p>

	<table class="tracy-sortable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Autowired</th>
				<th>Service</th>
				<th>Tags</th>
			</tr>
		</thead>
		<tbody>
			<tr n:foreach="$services as $name => $service">
				{do $name = (string) $name}
				<td class={$service->instance !== null ? created}>
					{if is_numeric($name)}<small>{$name}</small>{else}{$name}{/if}
				</td>
				<td class={$service->autowired === true ? yes}>
					{$service->autowired === true ? 'yes' : ($service->autowired === false ? 'no' : '?')}
				</td>
				<td>
					{if $service->instance !== null && !$service->instance instanceof Nette\DI\Container}
						{Dumper::toHtml($service->instance, [Dumper::COLLAPSE => true, Dumper::LIVE => true, Dumper::DEPTH => 5])}
					{elseif $service->instance !== null}
						<code>{get_class($service->instance)}</code>
					{elseif $service->type !== null}
						<code>{$service->type}</code>
					{/if}
				</td>
				<td>
					{if !$service->tags}
					{elseif count($service->tags) === 1}
						{key($service->tags)} = {Dumper::toHtml(current($service->tags), [Dumper::COLLAPSE => true])}
					{else}
						{Dumper::toHtml($service->tags, [Dumper::COLLAPSE => true])}
					{/if}
				</td>
			</tr>
		</tbody>
	</table>

	<h2>Parameters</h2>

	<div class="nette-ContainerPanel-parameters">
		{if $parameters === null}
			<i>disabled via 'di › export › parameters'</i>
		{else}
			{Dumper::toHtml($parameters)}
		{/if}
	</div>
</div>
</div>
