parameters:
	type: Ipsum

services:
	referencedService: @one

	referencedServiceWithSetup:
		create: @one
		setup:
			- $x(10)

	serviceAsParam: Ipsum(@one)
	calledService: @one()
	calledServiceWithArgs: @one(1)
	calledServiceAsParam: Ipsum(@one())
	calledServiceWithArgsAsParam: Ipsum(@one(1))

	one:
		type: %class%
		arguments: [1]

	two:
		create: %class%(1)

	three:
		type: Lorem
		create: Factory::createLorem
		arguments: [1]

	four:
		create: Factory::createLorem(1)

	five:
		create: [Factory, createLorem](1)

	six: Factory::createLorem(1)

	seven: @factory

	eight: @factory()

	nine: [@three, foo]

	stdClass: stdClass

	factory: Lorem

	rich1: Lorem(1)::foo

	rich2:
		create: Lorem(Ipsum(@one))::foo(1)

	rich3: Factory::createLorem(1)::foo

	rich4: Factory()::createLorem(1)::foo

	- Lorem(1)::foo
