services:

	article:
		factory: Article(%title%, %foo%, %lorem%)
		implement: IArticleFactory
		parameters: [?string title, ?Foo foo, ?int lorem: null]

	article2:
		implement: IArticleFactory
		arguments: [%title%, %foo%, %lorem%]
		parameters: [?string title, ?Foo foo, ?int lorem: null]

	article3:
		implement: IArticleFactory
