services:

	article:
		factory: Article(%title%)
		implement: IArticleFactory
		parameters: [title]

	article2:
		implement: IArticleFactory
		arguments: [%title%]
		parameters: [title]

	article3:
		implement: IArticleFactory
		factory: FooArticle
