services:
	comments: MyBlog\CommentsModel(@connection, @extension.articles)
	articlesList:
		class: MyBlog\Components\ArticlesList(@extension.articles)
	commentsControl:
		class: MyBlog\Components\CommentsControl
		arguments: [@extension.comments()] #factory syntax
